<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Asp.Versioning.*" />
      <package pattern="FluentValidation" />
      <package pattern="FluentValidation.*" />
      <package pattern="Google.Protobuf" />
      <package pattern="Grpc.*" />
      <package pattern="Mapster" />
      <package pattern="Mapster.*" />
      <package pattern="Microsoft.EntityFrameworkCore" />
      <package pattern="Microsoft.EntityFrameworkCore.*" />
      <package pattern="Microsoft.Extensions.*" />
      <package pattern="Microsoft.VisualStudio.Azure.Containers.Tools.Targets" />
      <package pattern="Npgsql" />
      <package pattern="Npgsql.*" />
      <package pattern="RabbitMQ.Client" />
      <package pattern="protobuf-net" />
      <package pattern="protobuf-net.*" />
      <package pattern="Swashbuckle.AspNetCore" />
      <package pattern="Swashbuckle.AspNetCore.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
